{% extends 'apps/root_base.html' %}
{% load static %}

{% block title %}
    Reset Confirm Password Page
{% endblock %}

{% block root_content %}
    <div class="container" data-layout="container">
        <script>
            var isFluid = JSON.parse(localStorage.getItem('isFluid'));
            if (isFluid) {
                var container = document.querySelector('[data-layout]');
                container.classList.remove('container');
                container.classList.add('container-fluid');
            }
        </script>
        <div class="row flex-center min-vh-100 py-6">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">

                {% include 'apps/auth/header_logo.html' %}

                <div class="card">

                    <div class="card-body p-4 p-sm-5">
                        <div class="text-center">
                            <img class="d-block mx-auto mb-4"
                                 src="{% static 'apps/assets/img/icons/spot-illustrations/16.png' %}"
                                 alt="Email" width="100">
                            <h4 class="mb-2">Please check your email!</h4>
                            <p>An email has been sent to <strong>xyz@abc.com</strong>.
                                Please click on the included link to reset your password.
                            </p>
                            <a class="btn btn-primary btn-sm mt-3" href="{% url 'login_page' %}">
                                <svg class="svg-inline--fa fa-chevron-left fa-w-10 me-1"
                                     data-fa-transform="shrink-4 down-1" aria-hidden="true" focusable="false"
                                     data-prefix="fas" data-icon="chevron-left" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""
                                     style="transform-origin: 0.3125em 0.5625em;">
                                    <g transform="translate(160 256)">
                                        <g transform="translate(0, 32)  scale(0.75, 0.75)  rotate(0 0 0)">
                                            <path fill="currentColor"
                                                  d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"
                                                  transform="translate(-160 -256)">

                                            </path>
                                        </g>
                                    </g>
                                </svg>
                                <!-- <span class="fas fa-chevron-left me-1" data-fa-transform="shrink-4 down-1"></span> Font Awesome fontawesome.com -->
                                Return to login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
